# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
BiblePayDLL/bin/Debug/
BiblePayDLL/bin/Release/
BiblePayDLL/bin/x64/Debug/
BiblePayDLL/bin/
BiblePayDLL/obj/
bin/
obj/
packages/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.ide-shm
*.ide-wal
*.testlog
*.suo
*.ide
*.lock
bin/AspNet.ScriptManager.bootstrap.dll
Logs/biblepaydll_nbitcoin.log
Properties/PublishProfiles/FolderProfile.pubxml.user
.vs/BiblePayUnchained/v16/TestStore/0/testlog.manifest
.vs/BiblePayUnchained/config/applicationhost.config
.vs/BiblePayUnchained/DesignTimeBuild/.dtbcache
*.tmp
*.pdb
Dependencies/BiblePayCommon.pdb
*.user
*.pubxml
*.user
*.pubxml
