.wpstream_product_front{
    width:100%;
    padding: 10px;
    float:left;
}

.wpstream_product_wrapper{
    float:left;
}

.wpstream_product_image_wrapper{
    float: left;
    width: 100px;
    text-decoration: none;
  
}

.wpstream_product_front img{
    float: left;
    height: 75px!important;
    width: auto;
}

.wpstream_product_front:nth-child(even){
    background-color: #f8f6f6;
}

.wpstream_product_name_front{
    float: left;
    font-weight: bold;
    margin: 0px 0px 0px 30px;
    width:100%;
    text-decoration: none;
}
.wpstream_product_see:visited,
.wpstream_product_see{
    float:left;
    background-color: #e16767;
    color:#fff;
    padding: 2px 10px;
    cursor:pointer;
    margin: 10px 0px 0px 30px;
    font-size: 12px;
}

.wpstream_product_see:hover{
     background-color: #76b06c;
     color:#fff;
}


.wpstream_player_wrapper{
 
}

.wpstream_not_live_mess{
    position: absolute;
    top: 31%;
    left: 0;
    right: 0;
    z-index: 9;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color:#fff;
    font-family: Arial;
}

.wpstream_not_live_mess_back{
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 6px;
    padding: 10px;
}


.wpstream_not_live_mess_mess{
    color: #fff;
    font-size: 17px;
    z-index: 10;
    position: relative;
    padding: 10px;
}

.wpestate_header_video  .wpstream_not_live_mess_mess {
    position: absolute;
    left: 0;
    right: 0;
    width: 40%;
    background-color: #0000008a;
    z-index: 99;
    color: #fff;
    left: 0;
    right: 0;
    top: 48%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 50px;
    font-size: 24px;
    z-index: 999;
    width: 100%;
    line-height: 100px;
}



.wpstream_player_container{
/*    height: 675px;*/
    max-width:1200px;
    margin: 0px auto;
    margin-bottom: 30px;
}
.wpestream_inserted_player .wpstream_player_container{
    height: auto;
}

#wpstream-video{
    width: 100%;
}

.wpstream_notice{
    background-color: #e16767;
    color: #fff;
    padding: 2px 10px;
    margin-bottom: 30px;
    width: 100%;
    float: left;
}

#wpstream_product_wrap{
   
}
#wpstream_product_wrap_no_buy{
    margin-top: 0px;
}

.wpstream_player_wrapper.no_buy{
    position:relative;
    height: 30px;
    position: relative;
    background: transparent;
    margin-bottom: 15px;
}

.wpstream_player_wrapper.no_buy .wpstream_player_container{
    height: 30px;
}

.wpstream_player_wrapper.wpstream_player_shortcode{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    float: left;
}
.wpstream_player_wrapper.wpstream_player_shortcode.no_buy{
    height: auto;
    float: left;
}

.wpstream_player_wrapper.wpstream_player_shortcode.no_buy .wpstream_player_container{
    height: auto;
}

.wpstream_player_wrapper.wpstream_player_shortcode.no_buy  .wpstream_notice{
    background: transparent;
    position: absolute;
    width:100%;
    top:45%;
    text-align:center;
    font-size: 22px;
}

.wpstream_live_player_wrapper .video-js .vjs-big-play-button ,
.wpstream_player_container .video-js .vjs-big-play-button {
    line-height: 90px!important;
    height: 90px!important;
    width: 90px!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    margin-left: -45px;
    margin-top: -45px;
    border: 2px solid #494848!important;
    font-size: 57px!important;
    border-radius: 50%!important;
    background-color: #2b333f!important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder{
    opacity: 0.8;
    transition: 0.3s ease-out;
}

.video-js .vjs-big-play-button:focus .vjs-icon-placeholder, 
.video-js:hover .vjs-icon-placeholder{
    opacity: 1;
}



.wpstream_get_download_link{
    display:none;
}

.vjs-youtube .vjs-poster {
    background-size: contain!important;
}

/*product list shortcode*/


.shortcode_list_wrapper{
    margin: 0px -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wpstream_media_list_wrapper  li.product.entry,
.wpstream_media_list_wrapper  li.product.entry {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%;
    margin-left: 0;
      width: 30.75%;
}
.wpstream_media_list_wrapper li.last.entry{
    margin-right: 0;
}


.wpstream_pagination{
    list-style: none;
    width: 100%;
    display: inline-block;
}

.wpstream_pagination li{
    display: inline-block;
}

.wpstream_product_unit{
    width: 31%;
    margin: 0px 10px 30px 10px;
    display: inline-block;
}

.wpstream_product_unit .product_image{
    width: 100%;
    height: 255px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1f1f1;
}

.wpstream_product_unit .product_title{
    text-decoration: none!important;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
}

.wpstream_product_unit .see_product {
    text-decoration: none!important;
    font-size: 14px;
     color:#555;
}

.wpstream_live_player_wrapper{
    position:relative;
}

.wpestream_live_counting{
    position: absolute;
    padding: 6px 7px;
    color: #fff;
    z-index: 99;
    top: 10px;
    left: 10px;
    font-size: 12px;
    border-radius: 2px;
    font-family: Arial;
}

.wpstream_player_wrapper_sec .wpestream_live_counting{
    bottom: 32px;
    top:auto;
}


/*wpstream chat wrapper*/

.wpstream_plugin_chat_wrapper{
    width: 100%;
    height: 100%;
    background: #222;
    min-height: 406px;
    max-height: 505px;
    position: relative;
    margin-bottom: 15px;
    float: left;
}
.wpstream_chat_input .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
        padding-right: 15px;
    padding-left: 15px;
}

.wpstream_plugin_chat_wrapper .chat_wrapper{
    width: 100%;
}
#help-dialog,
#admin-help-dialog{
    display:none;
}

.wpstream_plugin_chat_wrapper .wpestream_chat_meat {
    padding-top: 15px;
    background: #222;
    border: none;
    opacity:1;
}

.wpstream_plugin_chat_wrapper #panel {
    height: 100%;
    font-size: 13px;
    padding: 0px 15px 110px 15px;
}

.wpstream_plugin_chat_wrapper .wpstream_chat_input{
    bottom:10px;
}


.chat_wrapper{
        width: 300px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
    height: 100%;
}

.wpstream_chat_container{
    height: 100%;
}

.wpestream_chat_meat{
    background: black;
    height: 100%;
    opacity: 0.9;
    border-left: 1px solid #151520;
    padding-top: 50px;
}

.chat_nav_bar{
    position: absolute;
    background: red;
    bottom: 0px;
    left: -143px;
    
}

.chat_nav_bar_list{
    list-style-type: none;
}

.chat_nav_bar_list{
    color:#fff;
}

#panel {
    height: 100%;
    font-size: 13px;
    padding: 50px 15px 100px 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
}

#message{
    width: 100%;
    height: 60px;
    border: 1px solid #686890!important;
    background-color: transparent;
    color: #efefef;
    font-size: 13px;
    padding: 4px 8px;
    line-height: 1.3em;

}

.wpstream_chat_input{
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;

}

#send{
    background-color: #72729d;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    padding: 3px 11px;
    border-radius: 0px;
    margin-top: 10px;
    float: right;
}

.msg{
    color:#ededed;
}

.timestamp {
    color: #eee;
    display:none;
}

.message {
    color: #FFEB3B;
    margin-top: 6px;
}

.wpestream_chat_meat hr {
    background-color: #151520;
}

.wpstream_chat_actions{
    width:100%;
}

#user{
    float: left;
    cursor: pointer;
    margin: 10px 3px;
}

#user:hover{
    color:#72729d;
}

#users-dialog{
    display:none;
    position: absolute;
    background: #242939;
    bottom: 149px;
    padding: 15px;
    color: #efefef;
    opacity: 0.8;

}

#users-dialog li{
   color: #efefef;
}

#users-dialog h4{
    font-size: 15px;
    margin-bottom: 15px;
}

#users-dialog ul{
    list-style-type: none;
}
#users-content{
     list-style-type: none;
}
#close-users-dialog{
    position: absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
}


/* start streaming styling front end*/
.event_unit_style_front.event_list_unit{
    box-shadow: none;
    background: transparent;
    padding: 5px;
    margin: 10px 0px;
}

.event_unit_style_front.event_list_unit:hover{
    background: transparent;
    transform: none;
     box-shadow: none;
}

.event_unit_style_front .start_event.wpstream_button{
    height: auto;
    font-size: 0.6em;
}

.event_unit_style_front .event_thumb_wrapper{
    display:none;
}

.event_unit_style_front h3{
    display:none;
}

.event_unit_style_front .record_wrapper{
    display:none;
}

.event_unit_style_front .multiple_warning_events{
    display: none;
}

.event_unit_style_front .wpstream_channel_status.not_ready_to_stream .dashicons {
    margin-top: 0px;
}

.event_unit_style_front .wpstream_channel_status .dashicons{
    margin-top: -3px;
}

.event_unit_style_front .wpstream_channel_status{
    padding: 0px 0px 10px 0px;
}

.event_unit_style_front  .event_list_unit_notificationx{
    font-size: 14px;
    float:left;
    width: 100%;
}